body {
	background-color: #f1f1f1;
	position: relative;
	font-family: Arial, sans-serif;
	margin: 0px auto;
	overflow: hidden;
	max-width: 1360px;
	max-height: 768px;
	color: #f1f1f1;
}

a {
	color: #f1f1f1;
	text-decoration: none;
	font-size: 150%;
}

a:hover {
	color: #c2c2b6;
}

section {
	max-width: 1360px;
	max-height: 768px;
	margin: 0px auto;
}

#header {
	position: absolute;
	display: block;
	top: 10px;
	z-index: 2;
	margin: 0px auto;
	text-align: center;
	width: 100%;
	min-width: 800pt;
}

.hDiv {
	display: inline-table;
	vertical-align: middle;
}

.hDiv a, .hDiv img {
	display: table-cell;
	text-align: center;
}

#aboutLink, #portfolioLink {
	position: relative;
	margin-right: 5%;
}

#fbLink, #contactLink {
	position: relative;
	margin-left: 5%;
}

#slider, {
	max-width: 1360px;
	max-height: 768px;
	height: 100%;
	margin: 0 auto;
}

/*without slide-view div, button elements align to top of page*/
#slide-view {
	position: relative;
	overflow: hidden;
	height: 768px;
}

#slide-group {
	position: relative;
}

#slide-group, .slides {
	top: 0;
	left: 0;
	width: 100%;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: -1;
}

img .slides {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.slides:first-child {
	display:block;
}

.LRBtns {
	position: absolute;
	display: table;
	border: none;
	opacity: 0.3;
	top: 35%;
	height: 50%;
	z-index: 2;
	padding: 10px;
	background: #c2c2b6;
	font-size: 400%;
	line-height: 0.7em;
}

.LRBtns p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	top: 0;
	color: #50575f;
}

.LRBtns:hover {
	opacity: 0.4;
	cursor: pointer;
}

#leftBtn {
	left: 0;
}

#rightBtn {
	right: 0;
}

#slide-btns {
	opacity: 0.6;
	position: absolute;
	display: block;
	top: 600px;
	z-index: 2;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 100%;
	min-width: 800pt;
}

.slide-btn {
	position: relative;
	font-size: 400%;
	color: #c2c2b6;
	background: none;
	border: 0px none;
	line-height: 0.7em;
	margin: 0 3px 0 3px;
}

.slide-btn.active, .slide-btn:hover {
	color: #f1f1f1;
	cursor: pointer;
}